


.category-btn{
            text-decoration: none;
            background-color: #7952B3;
            padding: 4px 8px;
            color: white;
            border-radius: 10px;
}


.category-card{
            background-color: wheat;
            border-radius: 20px;
}


.card-image{
            border-radius: 15px;
}

.card-title{
            color: #7952B3;
}